  @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
  body {
    background: #f9f9f9;
    font-family: "Roboto", sans-serif;
  }

  .shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
  }

  .profile-tab-nav {
    min-width: 250px;
  }
  .hover {
    background: #f9f9f9;

  }

  .tab-content {
    flex: 1;
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  .nav-pills a.nav-link {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #333;
  }
  .nav-pills a.nav-link i {
    width: 20px;
  }
  li{
    padding:0 90px;
  }
  .links{
    color:black;
    text-decoration: none;
    opacity: 0.2;
  }
  .links:hover{
    opacity: 3;
    /* font-weight: bolder; */

  }
  .links:active{
    opacity: 10;
    /* font-weight: bolder; */
  }

    .nav-pills .nav-link.active{
      color: black;
      background-color: white;
  }

