<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab" style="max-width:560px;">
  <h3>Account Privacy</h3>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault" style="font-weight: bold;">
                  Private Account
                </label>
              </div>
              <p><small>When your account is public, your profile and posts can be seen by anyone, on or off Instagram, even if they don’t have an Instagram account.</small></p>
              <p><small>When your account is private, only the followers you approve can see what you share, including your photos or videos on hashtag and location pages, and your followers and following lists.</small></p>
              <a href="">Learn more</a>
              <div class="line-3"><hr></div>
  <h3>Activity Status</h3>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault" style="font-weight: bold;">
                  Show Activity Status
                </label>
              </div>
              <p><small>Allow accounts you follow and anyone you message to see when you were last active or are currently active on Instagram apps. When this is turned off, you won't be able to see the Activity Status of other accounts.</small></p>
              <a href="">Learn more</a>
              <p><small>You can continue to use our services if active status is off.</small></p>
              <div class="line-3"><hr></div>
              <h3>Story</h3>
              <a href="">Edit story settings</a>
              <div class="line-3"><hr></div>
              <h3>Comments</h3>
              <a href="">Edit story settings</a>
              <div class="line-3"><hr></div>
              <h5>Photos of You</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault10" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Add automatically
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault10" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Add manually
                </label>
              </div>
              <p><small style="opacity:0.5;">Choose how you want photos of you added to your profile. <a href="">Learn more </a> about Photos of You.</small></p>
            <div class="line-3"><hr></div>
            <h4>Two-Factor Authentication</h4>
            <a href="">Edit Two-Factor Authentication Setting</a>
            <div class="line-3"><hr></div>
            <h4>Data Download</h4>
            <a href="">Request Download</a>
            <div class="line-3"><hr></div>
            <h4>Privacy and security help</h4>
            <a href="">Support</a>
            <div class="line-3"><hr></div>
            <h4>Mentions</h4>
            <h5>Allow @mentions From</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault14" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Everyone
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault14" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    People You Follow
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault14" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    No One
                </label>
              </div>
              <p><small style="opacity:0.5;">Choose who can @mention you to link your account in their stories, comments, live videos, and captions. When people try to @mention you, they'll see if you don't allow @mentions.
            </small></p>
              <div class="line-3"><hr></div>
              <h4>Guides</h4>
              <h5>Your Posts</h5>
              <label class="switch" style="transform:translateX(510px)">
                <span style ="margin-left:-510px;">mahmoud</span>
                <input type="checkbox" name="me" />
                <span class="slider round"></span>
              </label>
              <p><small style="opacity:0.5;">Other people can add your posts to their guides. Your username will always show up with your posts.
            </small></p>
              <div class="line-3"><hr></div>
              <h4>Posts</h4>
              <h5>Likes and Views</h5>
              <label class="switch" style="transform:translateX(510px)">
                <span style ="margin-left:-510px;">Hide likes</span>
                <input type="checkbox" name="me"/>
                <span class="slider round"></span>
              </label>
              <p><small style="opacity:0.5;">he number of likes on posts from other accounts will be hidden. You can hide the number of likes on your own posts by going to Advanced Settings before sharing. Learn more
            </small></p>
              <div class="line-3"><hr></div>
              <h5>Allow Tags From</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault14" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Everyone
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault14" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    People You Follow
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault14" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    No One
                </label>
              </div>
              <div class="line-3"><hr></div>
              <h4>Messages</h4>
              <a href="">Manage message settings</a>
              <div class="line-3"><hr></div>
              <h4>Hidden Words</h4>
              <h5>Offensive words and phrases</h5>
              <p><small style="opacity:0.5;">Protect yourself from comments and message requests that contain offensive words, phrases or emojis.
            </small></p>
            <label class="switch" style="transform:translateX(510px)">
                <span style ="margin-left:-510px;">Hide comments</span>
                <input type="checkbox" name="me"/>
                <span class="slider round" ></span>
              </label>
              <p><small style="opacity:0.5;">Comments that may be offensive will be hidden in a separate section of your posts, reels, lives and IGTV.
            </small></p>
            <label class="switch" style="transform:translateX(510px)">
                <span style ="margin-left:-510px;">Advanced comment filtering</span>
                <input type="checkbox" name="me"/>
                <span class="slider round"></span>
              </label>
              <p><small style="opacity:0.5;">Additional comments that may contain offensive words and phrases will be hidden. You can always review and unhide individual comments.
            </small></p>
            <label class="switch" style="transform:translateX(510px)">
                <span style ="margin-left:-510px;">Hide message requests</span>
                <input type="checkbox" name="me"/>
                <span class="slider round"></span>
              </label>
              <p><small style="opacity:0.5;">Message requests that may be offensive will be moved to the hidden requests folder. We’ll also filter notifications for these messages.
            </small></p>
            </div>
            </div>
