<div class="tab-content p-4 " id="v-pills-tabContent">
    <!-- <div class="tab-pane fade " id="account" role="tabpanel" aria-labelledby="account-tab"> -->
        <h4>Ad topics</h4>
        <a href="">Ad topic preferences</a>
        <div class="line-3"></div>
        <hr>
        <h4>Activity information from ad partners</h4>
        <a href="">Review preferences for data from partners</a>
        <div class="line-3"><hr></div>
        <h4>Ad activity</h4>
        <h5>Your ad activity</h5>
        <p><small style="opacity:0.5;">See the ads you've recently interacted with and learn more about the brands behind them.
        </small></p>
    <!-- </div> -->
</div>
