<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                <h6>Push Notifications</h6>


                <label class="switch" style="transform:translateX(510px);">
                    <span style ="margin-left:-510px;">Pause All</span>
                    <input type="checkbox" name="me"/>
                    <span class="slider round"></span>
                  </label>

                  <br>
                  <h5>Likes</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  From People I Follow
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  From Everyone
                </label>
              </div>
              <p><small style="opacity:0.5;">johnappleseed liked your photo.</small></p>
            <div class="line-3"><hr></div>
                  <h5>Likes and Comments on Photos of You</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  From People I Follow
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  From Everyone
                </label>
              </div>
              <p><small style="opacity:0.5;">johnappleseed commented on a post you're tagged in.</small></p>
            <div class="line-3"><hr></div>
                  <h5>Comments</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  From People I Follow
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  From Everyone
                </label>
              </div>
              <p><small style="opacity:0.5;">johnappleseed commented: "Nice shot!".</small></p>
            <div class="line-3"><hr></div>
            <h5>Comment Likes</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  On
                </label>
              </div>
              <p><small style="opacity:0.5;">johnappleseed liked your comment: Nice shot!</small></p>
            <div class="line-3"><hr></div>
                  <h5>First Posts and Stories</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  From People I Follow
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  From Everyone
                </label>
              </div>
              <p><small style="opacity:0.5;">See johnappleseed's first story on Instagram, and other similar notifications.</small></p>
            <div class="line-3"><hr></div>
            <h5>New Followers</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  On
                </label>
              </div>
              <p><small style="opacity:0.5;">John Appleseed (johnappleseed) started following you.</small></p>
            <div class="line-3"><hr></div>
            <h5>Accepted Follow Requests</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault7" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  On
                </label>
              </div>
              <p><small style="opacity:0.5;">Accepted Follow Requests</small></p>
            <div class="line-3"><hr></div>
            <h5>Account Suggestions</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault8" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  On
                </label>
              </div>
              <p><small style="opacity:0.5;">johnappleseed, who you might know, is on Instagram, and other similar notifications.</small></p>
            <div class="line-3"><hr></div>
            <h5>Message Requests</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault9" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault9" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  On
                </label>
              </div>
              <p><small style="opacity:0.5;">Message Requests.</small></p>
            <div class="line-3"><hr></div>
            <h5>Messages</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault10" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault10" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  On
                </label>
              </div>
              <p><small style="opacity:0.5;">johnappleseed sent you a message.</small></p>
            <div class="line-3"><hr></div>
            <h5>Message Reminders</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault11" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault11" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  On
                </label>
              </div>
              <p><small style="opacity:0.5;">johnappleseed sent you a message (1d ago).</small></p>
            <div class="line-3"><hr></div>
            <h5>Group Requests</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault12" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault12" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  On
                </label>
              </div>
              <p><small style="opacity:0.5;">johnappleseed wants to add janeappleseed to your group.</small></p>
            <div class="line-3"><hr></div>
            <h5>Message Reminders</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault13" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault13" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  On
                </label>
              </div>
              <p><small style="opacity:0.5;">johnappleseed sent you a message (1d ago).</small></p>
            <div class="line-3"><hr></div>
            <h5>Video Chats</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault14" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault14" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  From People I Follow
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault14" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  From Everyone
                </label>
              </div>
              <p><small style="opacity:0.5;">Incoming video chat from johnappleseed.
            </small></p>
              <div class="line-3"><hr></div>
              <h5>Rooms</h5>
              <div class="form-check email">
                  <input class="form-check-input" type="radio" name="flexRadioDefault15" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Off
                  </label>
                </div>
                <div class="form-check email">
                  <input class="form-check-input" type="radio" name="flexRadioDefault15" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    From People I Follow
                  </label>
                </div>
                <div class="form-check email">
                  <input class="form-check-input" type="radio" name="flexRadioDefault15" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    From Everyone
                  </label>
                </div>
                <p><small style="opacity:0.5;">johnappleseed's room starts in 10 minutes.</small></p>
                  <div class="line-3"><hr></div>
            <h5>Live Videos</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault16" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault16" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  On
                </label>
              </div>
              <p><small style="opacity:0.5;">johnappleseed started a live video. Watch it before it ends!.</small></p>
            <div class="line-3"><hr></div>

                    </div>
