* {
  border: none;
}

.navbar {
  position: fixed;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  width: 100%;
  border: 1px solid rgb(218, 217, 217);
}

.navbar .container {
  padding: 15px 0;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .logo {
  display: inline-block;
  cursor: pointer;
}

.searchbar {
  width: 40%;
  text-align: end;
}

.searchbar input {
  background-color: #fafafa;
  padding: 5px;
  outline: none;
  border: 1px solid rgb(218, 217, 217);
  text-align: center;
  border-radius: 2px;
  color: rgb(77, 77, 77);
}

.searchbar input::placeholder {
  font-weight: lighter;
  color: rgb(172, 172, 172);
}

.nav-links {
  font-weight: lighter;
  color: rgb(172, 172, 172);
}

.nav-group .nav-item {
  list-style-type: none;
  margin: 0 8px;
}

.nav-group .nav-item a {
  font-size: 22px;
  display: block;
  color: black;
}

.nav-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action .profile {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


main {
  width: calc(100vw - 220px);
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

main .container {
  position: relative;
  width: 65%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.col-9 {
  width: 65%;
}

.statuses {
  margin-bottom: 30px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 20px 0;
}

.statuses .status {
  display: inline-block;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  min-width: 66px;
  min-height: 66px;
  background: linear-gradient(to right, red, orange);
  padding: 2px;
  margin-left: 15px;
  cursor: pointer;

}

.statuses .status .image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.statuses .status img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.statuses .status .username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  margin-top: 10px;
  color: var(--secondry-text);
}

.col-3 {
  width: 33%;
  position: -webkit-sticky;
  position: sticky;
}

.col-3 h4 {
  color: rgb(100, 100, 100);
}

.col-3 .card {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  display: inline-block;
}

.col-3 .card .top {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-3 .card .top a {
  color: #1d92ff;
}

.col-3 .card .bottom {
  padding: 10px 20px;
}

.col-3 .card .top .userDetails {
  width: 100%;
  display: flex;
  align-items: center;
}

.col-3 .card .top .userDetails h3 {
  font-size: 16px;
  color: #4d4d4f;
  font-weight: 500;
  line-height: 1em;
}

.col-3 .card .top .userDetails h3 span {
  font-size: 0.75em;
  color: var(--secondry-text);
}

.col-9 .card {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  display: inline-block;
}

.col-9 .card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-9 .card .top .userDetails {
  width: 100%;
  display: flex;
  align-items: center;
}


.profilepic {
  display: inline-block;
  cursor: pointer;
}

.profilepic .profile_img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: linear-gradient(to right, red, orange);
  padding: 2px;
  margin-right: 8px;
  cursor: pointer;
}

.profilepic .profile_img .image {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
}

.profilepic .profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-9 .card .top .userDetails h3 {
  font-size: 16px;
  color: #4d4d4f;
  font-weight: 500;
  line-height: 1em;
}

.col-9 .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.col-9 .card .top .userDetails h3 span {
  font-size: 0.75em;
}

.dot {
  transform: scale(0.6);
  cursor: pointer;
}

.imgBx {
  position: relative;
  width: 100%;
  min-height: 600px;
  margin: 10px 0 15px;
}

.actionBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.actionBtns .heart svg,
.actionBtns .right svg {
  display: none;
}

.actionBtns .heart svg.active,
.actionBtns .right svg.active {
  display: inline-block;
}

.actionBtns svg {
  cursor: pointer;
}

.actionBtns .left svg {
  margin-right: 8px;
}

.likes {
  font-weight: 500;
  margin-top: 5px;
  font-size: 14px;
  color: #4d4d4f;
}

.message {
  font-weight: 400;
  font-size: 14px;
  color: #777;
  margin-bottom: 14px;
}

.message b {
  color: #262626;
}

.message span {
  cursor: pointer;
  color: #1d92ff;
}

.comments {
  font-weight: 400;
  color: var(--secondry-text);
  font-size: 14px;
}

.addComments {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin: 12px 0;
}

.addComments button {
  color: #1d92ffcb;
  font-weight: 500;
  background-color: transparent;
  border: 0;
}

input.text {
  width: 100%;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  color: #262626;
  background: none;
}

input.text::placeholder {
  color: #777;
}

.postTime {
  margin-top: 8px;
  font-weight: lighter;
  color: rgb(163, 163, 163);
  font-size: 12px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1000px) {

  .col-9 {
    width: 100%;
  }

  .col-3 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100% !important;
  }

  .navbar .container {
    padding: 15px 10px !important;
  }

  .col-9 {
    margin-top: 4px;
    min-width: 100%;
  }

  .statuses {
    margin-bottom: 0px;
  }

  .col-9 .card {
    margin-bottom: 0px;
    width: 100%;
    border: none;
  }

  .imgBx {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin: 10px 0 15px;
  }

  .searchbar {
    display: none;
  }
}

/*--------Stories-------*/
.display-story {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #1a1a1a;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display-story .app-logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.display-story .close-story-btn {
  position: absolute;
  top: 30px;
  right: 50px;
  cursor: pointer;
}

.display-story .story-body {
  position: relative;
  width: 360px;
}

.story-body .story-image img {
  width: 100%;
  border-radius: 10px;
}

.story-body .story-creator {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.story-creator .user-img img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 16px;
}

/*--------Show Post--------*/
.show-post-items {
  display: none;
}

.show-post-items.active {
  display: block;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 / 60%);
  z-index: 9999;
}

.overlay .close-show-post-btn {
  position: absolute;
  top: 30px;
  right: 30px;
}

.display-post {
  position: fixed;
  display: flex;
  width: 1100px;
  height: 650px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  z-index: 9999;
}

.display-post .post-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-post .post-img img {
  width: 100%;
}

.display-post .post-content {
  flex: 1;
  border-left: 1px solid var(--separator);
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.display-post .post-body {
  overflow-y: auto;
  padding: 14px;
}

.display-post .post-body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.post-content .user-info .user-img img,
.post-caption .user-img img,
.post-comments .comment-content .user-img img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 16px;
}

.post-caption {
  display: flex;
  margin-bottom: 30px;
}

.post-caption .caption a {
  color: var(--main-text);
}

.post-content .user-info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--separator);
  padding: 14px;
}

.post-content .post-items {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 0;
}

.post-content .post-comments .comment-content {
  margin-bottom: 30px;
}

.post-content .post-comments .comment-content .comment-items {
  display: flex;
}

.post-content .post-comments .comment-content .view-replies-comments {
  margin-left: 55px;
  margin-top: 30px;
}

.post-content .post-comments .comment-content .comment-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.comment-content .comment-body .comment a {
  color: var(--main-text);
}

.comment-content .replies-comments {
  display: none;
}

.comment-content .replies-comments.active {
  display: block;
}

.post-content .post-comments .comment-content .heart-icon svg {
  display: none;
  margin-left: 20px;
  cursor: pointer;
}

.post-content .post-comments .comment-content .heart-icon svg.active {
  display: block;
}

.comment-content .comment-body .comment-reply {
  display: flex;
  gap: 16px;
}

.comment-content .comment-body .comment-reply button {
  background-color: transparent;
  color: var(--secondry-text);
}

.post-content .post-comments::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.post-content .bottom {
  border-top: 1px solid var(--separator);
}

.post-content .bottom .actionBtns {
  padding: 14px;
  margin-bottom: 0;
}

.post-content .bottom > a {
  padding: 0 14px;
  display: flex;
}

.post-content .bottom .created-since {
  margin-bottom: 16px;
  color: var(--secondry-text);
  font-size: 14px;
}

.post-content .addComments {
  margin: 0;
  padding: 14px;
  border-bottom: 0;
  border-top: 1px solid var(--separator);
}
