<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
    <div class="row text-center " >
      <div class="img-circle  mb-3 col-md-12 d-flex justify-content-left align-items-center" style="margin-left:150px;max-width:300px;">
        <img src="assets/images/profile/images/profile.jpg" alt="Image" class="shadow" >
<div class="p-2">
    <span class="text-center ">Mahmoud El-Sayed</span><br>
    <a href="">Change profile photo</a>
  </div>
  </div>



      <div class="col-md-12">
        <div class="form-inline col-md-12 text-center">
            <label class="fw-bold col-lg-4 col-form-label mb-auto  ">Name </label>
            <div class=" col-lg-8 row" style="min-width: 350px;">
            <!-- <div class="row"> -->
              <div class="col-12 w-100">
            <input type="text" class="form-control w-100" placeholder="Mahmoud El-Sayed">
              </div>
        <div class="col-12 w-100 ">
          <small  > You are using the same name on Instagram and Facebook. Go to Facebook to change your name. <a href="">Change Name</a></small>
        </div>
        <!-- </div>	 -->
        </div>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <div class="form-inline col-md-12 text-center">
            <label class="fw-bold col-lg-4 col-form-label mb-auto">User Name</label>
          <div class=" col-lg-8 row">
            <div class="col-12 w-100">
            <input type="text" class="form-control w-100" value="mahmoudelsayed">
            </div>
            <div class="col-12 w-100">
          <small>In most cases, you'll be able to change your username back to malsayed752 for another 14 days.<a href="">Learn more</a> </small>
            </div>
          </div>
        </div>
      <div class="col-md-12 mt-3">
        <div class="form-inline col-md-12 text-center">
            <label class="fw-bold col-lg-4 col-form-label mb-auto">Website</label>
            <div class=" col-lg-8 row">
            <div class="col-12 w-100">
            <input type="text" class="form-control w-100 " value="website">
        </div>
        <div class="col-12 w-100">
          <small > Editing your links is only available on mobile. Visit the Instagram app and edit your profile to change the websites in your bio.</small>
             </div>
             </div>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <div class="form-inline col-md-12 text-center">
            <label class="fw-bold col-lg-4 col-form-label mb-auto">Bio</label>
            <div class=" col-lg-8 row">
            <div class="col-12 w-100 ">
          <textarea class="form-control w-100" rows="4">Lorem ipsum dolor sit amet consectetur </textarea>
          <div class="col-12 w-100 mt-4">
            <small > <b>Personal information </b><br>
              Provide your personal information, even if the account is used for a business, a pet or something else. This won't be a part of your public profile..</small>											 </div>
            </div>    
        </div>
           
        </div>
      </div>
      <div class="col-md-12 mt-3">

        <div class="col-md-12 mt-3">
          <div class="form-inline col-md-12 text-center">
              <label class="fw-bold col-lg-4 col-form-label ">Email</label>
              <div class=" col-lg-8 row">
              <div class="col-12 w-100">
              <input type="text" class="form-control w-100 " value="malsayed752@gmail.com">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-3">
          <div class="form-inline col-md-12 text-center">
            <label class="fw-bold col-lg-4 col-form-label ">Phone</label>
            <div class=" col-lg-8 row">
              <div class="col-12 w-100">
            <input type="text" class="form-control w-100 " value="01026494745">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-3">
          <div class="form-inline col-md-12 text-center">
              <label class="fw-bold col-lg-4 col-form-label">Gender</label>
              <div class=" col-lg-8 row">
              <div class="col-12 w-100">
              <input type="text" class="form-control w-100 " value="Male">
              </div>
            </div>
          </div>
        </div>
      </div>
<br>
    <span class="col-md-6">
    <button class="btn btn-primary ">Summit</button>
    </span>
    <a class=" col-md-6" href="">Temporart deactivate my account</a>
  </div>
</div>
