<main xmlns="http://www.w3.org/1999/html">
  <div class="reels" onscroll="playVideoOnScroll()" *ngIf="reels; else falseBlock">
    <div class="reel" *ngFor="let reel of reels; let number = index">
      <div class="main-video-section">
        <div class="reel-video">
          <video class="reel-video-src" src="{{reel.reelSrc}}" [autoplay]="number+1 == 1" loop [muted]="isMuted ? 'mute' : ''"></video>
          <div class="play-pause-icon">
            <svg aria-label="Play button icon" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="24" role="img" viewBox="0 0 24 24" width="24"><title>Play button icon</title><path d="M5.888 22.5a3.46 3.46 0 0 1-1.721-.46l-.003-.002a3.451 3.451 0 0 1-1.72-2.982V4.943a3.445 3.445 0 0 1 5.163-2.987l12.226 7.059a3.444 3.444 0 0 1-.001 5.967l-12.22 7.056a3.462 3.462 0 0 1-1.724.462Z"></path></svg>
          </div>
          <div class="mute-video-icon">
            <svg *ngIf="isMuted" (click)="ToggleVideoMute()" aria-label="Audio is muted" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="12" role="img" viewBox="0 0 48 48" width="12"><title>Audio is muted</title><path clip-rule="evenodd" d="M1.5 13.3c-.8 0-1.5.7-1.5 1.5v18.4c0 .8.7 1.5 1.5 1.5h8.7l12.9 12.9c.9.9 2.5.3 2.5-1v-9.8c0-.4-.2-.8-.4-1.1l-22-22c-.3-.3-.7-.4-1.1-.4h-.6zm46.8 31.4-5.5-5.5C44.9 36.6 48 31.4 48 24c0-11.4-7.2-17.4-7.2-17.4-.6-.6-1.6-.6-2.2 0L37.2 8c-.6.6-.6 1.6 0 2.2 0 0 5.7 5 5.7 13.8 0 5.4-2.1 9.3-3.8 11.6L35.5 32c1.1-1.7 2.3-4.4 2.3-8 0-6.8-4.1-10.3-4.1-10.3-.6-.6-1.6-.6-2.2 0l-1.4 1.4c-.6.6-.6 1.6 0 2.2 0 0 2.6 2 2.6 6.7 0 1.8-.4 3.2-.9 4.3L25.5 22V1.4c0-1.3-1.6-1.9-2.5-1L13.5 10 3.3-.3c-.6-.6-1.5-.6-2.1 0L-.2 1.1c-.6.6-.6 1.5 0 2.1L4 7.6l26.8 26.8 13.9 13.9c.6.6 1.5.6 2.1 0l1.4-1.4c.7-.6.7-1.6.1-2.2z" fill-rule="evenodd"></path></svg>
            <svg *ngIf="!isMuted" (click)="ToggleVideoMute()" aria-label="Audio is playing" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="12" role="img" viewBox="0 0 24 24" width="12"><title>Audio is playing</title><path d="M16.636 7.028a1.5 1.5 0 10-2.395 1.807 5.365 5.365 0 011.103 3.17 5.378 5.378 0 01-1.105 3.176 1.5 1.5 0 102.395 1.806 8.396 8.396 0 001.71-4.981 8.39 8.39 0 00-1.708-4.978zm3.73-2.332A1.5 1.5 0 1018.04 6.59 8.823 8.823 0 0120 12.007a8.798 8.798 0 01-1.96 5.415 1.5 1.5 0 002.326 1.894 11.672 11.672 0 002.635-7.31 11.682 11.682 0 00-2.635-7.31zm-8.963-3.613a1.001 1.001 0 00-1.082.187L5.265 6H2a1 1 0 00-1 1v10.003a1 1 0 001 1h3.265l5.01 4.682.02.021a1 1 0 001.704-.814L12.005 2a1 1 0 00-.602-.917z"></path></svg>
          </div>
        </div>
        <div class="reel-info">
          <div class="user-info">
            <div class="user-img">
              <img src="{{reel.reelCreator.imageSrc}}" alt="Profile Image">
            </div>
            <div class="user-name">{{reel.reelCreator.username}} •&nbsp;</div>
            <div class="follow-btn" Role="button" (click)="getFollowingStatus()">{{followingStatus}}</div>
          </div>
          <div class="reel-description">
            {{reel.caption}}
          </div>
          <div class="audio-info">
            <span class="audio-icon">
              <svg aria-label="Audio image" color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="12" role="img" viewBox="0 0 24 24" width="12"><title>Audio image</title><path d="M21.002 16.972V2.044a.999.999 0 0 0-.36-.769 1.012 1.012 0 0 0-.823-.214L6.816 3.479A1 1 0 0 0 6 4.462v10.864A3.75 3.75 0 1 0 9 19V9.56l9.003-1.675v5.442A3.75 3.75 0 1 0 21.005 17c0-.01-.003-.02-.003-.029Z"></path></svg>
            </span>
            <span class="audio-type">	&nbsp;{{reel.reelCreator.username}} · Original audio</span>
          </div>
        </div>
      </div>
      <div class="reel-icons">
        <div class="like-items">
          <div class="heart-icon">
            <svg [ngClass]="reel.likeStatus ? '' : 'active'" onclick="addReelHeart(this)" (click)="onAddReelLike(reel.reelNum)" aria-label="Like" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"></path></svg>
            <svg [ngClass]="reel.likeStatus ? 'active' : ''" onclick="removeReelHeart(this)" (click)="onRemoveReelLike(reel.reelNum)" aria-label="Unlike" color="rgb(255, 48, 64)" fill="rgb(255, 48, 64)" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
          </div>
          <div class="likes-count">{{reel.likesCount}}</div>
        </div>
        <div class="comments-items" (click)="onGetComment(reel.reelNum); isCommentsActive = !isCommentsActive">
          <div class="comments-icon">
            <svg aria-label="Comment" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="24" role="img" viewBox="0 0 24 24" width="24"><title>Comment</title><path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path></svg>
          </div>
          <div class="comments-count">{{reel.commentsCount}}</div>
        </div>
        <div class="direct-icon">
          <svg aria-label="Direct" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="24" role="img" viewBox="0 0 24 24" width="24"><title>Direct</title><line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218" y1="3" y2="10.083"></line><polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon></svg>
        </div>
        <div class="save-icon">
          <svg [ngClass]="reel.saveStatus ? '' : 'active'" onclick="addToSaved(this)" (click)="onAddReelToSaved(reel.reelNum)" aria-label="Save" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="24" role="img" viewBox="0 0 24 24" width="24"><polygon fill="none" points="20 21 12 13.44 4 21 4 3 20 3 20 21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon></svg>
          <svg [ngClass]="reel.saveStatus ? 'active' : ''" onclick="removeFromSaved(this)" (click)="onRemoveReelFromSaved(reel.reelNum)" aria-label="Remove" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M20 22a.999.999 0 0 1-.687-.273L12 14.815l-7.313 6.912A1 1 0 0 1 3 21V3a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1Z"></path></svg>
        </div>
        <div class="profile-icon">
          <img src="{{reel.reelCreator.imageSrc}}" alt="Profile Image">
        </div>
      </div>
    </div>
  </div>
    <ng-template #falseBlock>
      <div class="reels">
        <div class="reel">
          loading.....
        </div>
      </div>
    </ng-template>
  <div class="reel-comments-container" [ngClass]="isCommentsActive ? 'active' : ''">
    <div class="reel-comments">
      <div class="head">
        <div></div>
        <div class="fw-bold flex-grow-1 d-flex justify-content-center">Comments</div>
        <div role="button" (click)="isCommentsActive = !isCommentsActive">
          <svg aria-label="Close" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="24" role="img" viewBox="0 0 24 24" width="24"><title>Close</title><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="3" y2="21"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="21" x2="3" y1="21" y2="3"></line></svg>
        </div>
      </div>
      <div class="content">
        <div class="comment-items" *ngIf="submittedComment">
          <a routerLink="/profile/{{submittedComment.commentCreator.username}}" class="user-img">
            <img src="{{submittedComment.commentCreator.imageSrc}}" alt="">
          </a>
          <div class="comment-body">
            <div class="comment">
              <a routerLink="/profile/{{submittedComment.commentCreator.username}}" class="fw-bold text-decoration-none text-dark">{{submittedComment.commentCreator.username}} &nbsp;</a>
              <span class="body">{{submittedComment.comment}}</span>
            </div>
            <div class="comment-reply">
              <span>{{submittedComment.createdSince}}</span>
              <button (click)="onReplyToComment(submittedComment.commentCreator.username, submittedComment.commentNum)">reply</button>
            </div>
          </div>
          <div class="heart-icon">
            <svg  [ngClass]="submittedComment.likeStatus ? '' : 'active'" onclick="addCommentHeart(this)" (click)="onAddCommentLike(submittedComment.commentNum)" aria-label="Like" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="12" role="img" viewBox="0 0 24 24" width="12"><path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"></path></svg>
            <svg [ngClass]="submittedComment.likeStatus ? 'active' : ''" onclick="removeCommentHeart(this)" (click)="onRemoveCommentLike(submittedComment.commentNum)" aria-label="Unlike" color="rgb(255, 48, 64)" fill="rgb(255, 48, 64)" height="12" role="img" viewBox="0 0 48 48" width="12"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
          </div>
        </div>
        <div *ngIf="comments">
          <div  *ngFor="let comment of comments">
            <div class="comment-items">
              <a routerLink="/profile/{{comment.commentCreator.username}}" class="user-img">
                <img src="{{comment.commentCreator.imageSrc}}" alt="">
              </a>
              <div class="comment-body">
                <div class="comment">
                  <a routerLink="/profile/{{comment.commentCreator.username}}" class="fw-bold text-decoration-none text-dark">{{comment.commentCreator.username}} &nbsp;</a>
                  <span class="body">{{comment.comment}}</span>
                </div>
                <div class="comment-reply">
                  <span>{{comment.createdSince}}</span>
                  <button (click)="onReplyToComment(comment.commentCreator.username, comment.commentNum)">reply</button>
                </div>
              </div>
              <div class="heart-icon">
                <svg  [ngClass]="comment.likeStatus ? '' : 'active'" onclick="addCommentHeart(this)" (click)="onAddCommentLike(comment.commentNum)" aria-label="Like" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="12" role="img" viewBox="0 0 24 24" width="12"><path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"></path></svg>
                <svg [ngClass]="comment.likeStatus ? 'active' : ''" onclick="removeCommentHeart(this)" (click)="onRemoveCommentLike(comment.commentNum)" aria-label="Unlike" color="rgb(255, 48, 64)" fill="rgb(255, 48, 64)" height="12" role="img" viewBox="0 0 48 48" width="12"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
              </div>
            </div>
            <div class="view-replies-comments" *ngIf="comment.commentRepliesCount">
              <button onclick="ToggleCommentReplies(this)" class="bg-transparent mb-3 border-0">ــــــــــــــــ&nbsp;&nbsp;View replies ({{comment.commentRepliesCount}})</button>
              <div class="comment-replies" *ngFor="let commentReply of commentReplies">
                <div class="comment-items ps-0" *ngIf="commentReply.repliedCommentId == comment.commentNum">
                  <a routerLink="/profile/{{commentReply.commentCreator.username}}" class="user-img">
                    <img src="{{commentReply.commentCreator.imageSrc}}" alt="">
                  </a>
                  <div class="comment-body">
                    <div class="comment">
                      <a routerLink="/profile/{{commentReply.commentCreator.username}}" class="fw-bold text-decoration-none text-dark">{{commentReply.commentCreator.username}} &nbsp;</a>
                      <span class="body">{{commentReply.comment}}</span>
                    </div>
                    <div class="comment-reply">
                      <span>{{commentReply.createdSince}}</span>
                      <button (click)="onReplyToComment(commentReply.commentCreator.username, commentReply.commentNum)">reply</button>
                    </div>
                  </div>
                  <div class="heart-icon">
                    <svg  [ngClass]="comment.likeStatus ? '' : 'active'" onclick="addCommentHeart(this)" (click)="onAddCommentLike(comment.commentNum)" aria-label="Like" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="12" role="img" viewBox="0 0 24 24" width="12"><path d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"></path></svg>
                    <svg [ngClass]="comment.likeStatus ? 'active' : ''" onclick="removeCommentHeart(this)" (click)="onRemoveCommentLike(comment.commentNum)" aria-label="Unlike" color="rgb(255, 48, 64)" fill="rgb(255, 48, 64)" height="12" role="img" viewBox="0 0 48 48" width="12"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reply-to" *ngIf="isReply">
        <div>Replying to {{usernameToReply}}</div>
        <div (click)="isReply = !isReply">
          <svg aria-label="at" color="rgb(38, 38, 38)" fill="rgb(38, 38, 38)" height="14" role="img" viewBox="0 0 24 24" width="14"><title>at</title><polyline fill="none" points="20.643 3.357 12 12 3.353 20.647" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"></polyline><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line></svg>
        </div>
      </div>
      <div class="comment-input">
          <input type="text" placeholder="Add comment...">
          <button *ngIf="!isReply" class="post-comment-btn" (click)="onAddComment(reelIdOfComments, $event)">Post</button>
          <button *ngIf="isReply" class="post-comment-btn" (click)="onAddReplyToComment(reelIdOfComments, $event)">Post</button>
      </div>
    </div>
  </div>
</main>
