<div class="tab-content p-5 " id="v-pills-tabContent" style="font-size: larger;">
<p>Login Activity</p>
<b>Was This You ?</b>
</div>
<!-- <div style="margin:auto;" class="justify-content-center">
    <img src="assets/images/settings/map.jpg" />
    <button>
        <div>mahmoud</div>
    </button>
    <button>
        <div>mahmoud</div>
    </button>
</div> -->
<!-- <div class="card w-75">
    <div class="card-body">
        <img src="assets/images/settings/map.jpg" />
        <div class="justify-content-around">
      <a href="#" class="btn btn-light">This Was Me</a>
      <a href="#" class="btn btn-light">This Wasn't Me</a>
    </div>
    </div>
  </div> -->
  <div class="card  align-items-center" style="margin-left: 65px;">
    <img class="card-img-top" src="assets/images/settings/map.jpg" alt="Card image cap">
    <div class="card-body">
      <a href="#" class="card-link btn btn-light" style="min-width: 200px;">This Was me</a>
      <a href="#" class="card-link btn btn-light" style="min-width: 200px;">This Wasn't me</a>
    </div>
  </div>
  <br>
<b class="p-5">Where you're logged in </b>
