<main class="maincontainer">

    <div class="myreels"  >
        
        <div class="myreels-item" *ngFor="let reel of reels">
          <video src="{{reels.reelSrc}}" class="myreels-image">
          <span class="media-icon"></span>
          <div class="myreels-item-type">
    
            <span class="visually-hidden">Video</span><i class="fas fa-video" aria-hidden="true"></i>
    
        </div>
    
   
    
   
    <br><br>
    <div class="loadercontainer">
    <div class="loader"></div>
    <!-- End of container -->