<div class="main-big-div">
    <div>
        <span><b>Newest to oldest</b></span> &nbsp;
        <button>Sort & filter</button>
    </div>
    <br>
    <div class="big-child-div">
            <!-- Start loop from here -->
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/10.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- End of loop -->

            <!-- when use api delete this part untill comment tell 'End of delete' -->
            <!-- 2 -->
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/5.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- 3 -->
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/3.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- 4 -->
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/4.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- 5 -->
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/1.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/1.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/1.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/1.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/1.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/1.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/1.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/1.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            
            <!-- 'End of delete' -->
    </div>
</div>