<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
  <h5>Feedback Emails</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  On
                </label>
              </div>
              <p><small style="opacity:0.5;">Give feedback on Instagram.</small></p>
            <div class="line-6"></div>
  <h5>Reminder Emails</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  On
                </label>
              </div>
              <p><small style="opacity:0.5;">Get notifications you may have missed..</small></p>
            <div class="line-25"><hr></div>
  <h5>Product Emails</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault1" >
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  On
                </label>
              </div>
              <p><small style="opacity:0.5;">Get tips and resources about Instagram's tools.</small></p>
            <hr>
              <div class="line-3" style="opacity:2;"><hr></div>
  <h5>New Emails</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  On
                </label>
              </div>
              <p><small style="opacity:0.5;">Learn about new Instagram features.</small></p>
            <div class="line-3"><hr></div>
  <h5>Support Emails</h5>
            <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Off
                </label>
              </div>
              <div class="form-check email">
                <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  On
                </label>
              </div>
              <p><small style="opacity:0.5;">Get updates on reports and violations of our Community Guidelines.</small></p>
            <div class="line-3"><hr></div>
            </div>







