<div class="resetcontainer">
    <div class="box">
      <div class="svglogo">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-lock-square" width="128" height="128" viewBox="0 0 24 24" stroke-width="0.3" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8 11m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z"></path>
            <path d="M10 11v-2a2 2 0 1 1 4 0v2"></path>
            <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"></path>
        </svg>
        <h4>Trouble logging in?</h4>
    </div>
    <span class="hint">
Enter your email, phone, or username and we'll<br>
send you a link to get back into your account.
    </span>
      <form class="reset-form">
        
        <div class="field">
          <input type="name" id="username" placeholder="Phone number, username, or email" required />
          <label for="username">Phone number, username, or email</label>
        </div>


          <button class="login-button" title="login">Send login link</button>
          
          <div class="other">
            <a class="cant-reset" href="https://help.instagram.com/374546259294234">Can't reset your password?</a>
          </div>
          <div class="separator">
            <div class="line"></div>
            <p>OR</p>
            <div class="line"></div>
          </div>
          <div class="other">
            <a routerLink="/register">
            <button class="create-new-account" type="button">
              <span class="">Create new account</span>
            </button>
            </a>
          </div>

      </form>
    </div>
    <div class="box">
        <div class="other">
            <a routerLink="/login">
            <button class="back-login" type="button">
              <span class="">Back to login</span>
            </button>
            </a>
          </div>
    </div>
  </div>

  <footer class="footer"><div class="footer">
    <ul>
      <li><a href="">Meta</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Jobs</a></li>
      <li><a href="">HELP</a></li>
      <li><a href="">API</a></li>
      <li><a href="">PRIVACY</a></li>
      <li><a href="">Terms</a></li>
      <li><a href="">Top Accounts</a></li>
      <li><a href="">Locations</a></li><br>
      <li><a href="">Instagram Lite</a></li>
      <li><a href="">Contact Uploading & Non-Users</a></li>
      <li><a href="">LANGUAGE</a></li>
      </ul>
    <p>© 2023 Instagram from Meta</p>
    </div>
  </footer>

