<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                <p>Manage contacts</p>
                <br>

                <p>The people listed here are contacts you've uploaded to Instagram. To remove your synced contacts, tap Delete all. Your contacts will be re-uploaded the next time Instagram syncs your contacts unless you go to your device settings and turn off access to contacts.</p>
                <p>Only you can see your contacts, but Instagram uses the info you've uploaded about your contacts to make friend suggestions for you and others and to provide a better experience for everyone.</p>
</div>
</div>
