<div class="main-big-div">
    <div>
        <span><b>Newest to oldest</b></span> &nbsp;
        <button>Sort & filter</button>
    </div>
    <br>
    <div class="big-child-div">
            <!-- Start loop from here -->
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/3.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                        <div class="icons-div">
                            <!-- if more than 1 img display this -->
                                <svg color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" role="img" viewBox="0 0 48 48">
                                    <title>Carousel</title>
                                    <path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path>
                                </svg>
                            <!-- if img display nothing -->

                        </div>
                    </a>
                </div>
            </div>
            <!-- End of loop -->

            <!-- when use api delete this part untill comment tell 'End of delete' -->
            <!-- 2 -->
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/9.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                        <div class="icons-div">
                            
                        </div>
                    </a>
                </div>
            </div>
            <!-- 3 -->
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/7.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                        <div class="icons-div">
                            <!-- if img display this -->
                                <!-- <svg color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" role="img" viewBox="0 0 48 48">
                                    <title>Carousel</title>
                                    <path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path>
                                </svg> -->
                        </div>
                    </a>
                </div>
            </div>
            <!-- 4 -->
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/10.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                        <div class="icons-div">
                            <!-- if img display this -->
                                <svg color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" height="15" role="img" viewBox="0 0 48 48" width="15">
                                    <title>Carousel</title>
                                    <path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path>
                                </svg>
                        </div>
                    </a>
                </div>
            </div>
            <!-- 5 -->
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/2.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/2.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/2.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/2.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/2.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                        <div class="icons-div">
                           
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/2.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/2.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                        <div class="icons-div">
                                <svg color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" role="img" viewBox="0 0 48 48">
                                    <title>Carousel</title>
                                    <path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path>
                                </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/2.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                        
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/2.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                        <div class="icons-div">
                            <!-- if img display this -->
                                <svg color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" role="img" viewBox="0 0 48 48">
                                    <title>Carousel</title>
                                    <path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path>
                                </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/2.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/2.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                        <div class="icons-div">
                            <!-- if img display this -->
                                <svg color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" role="img" viewBox="0 0 48 48">
                                    <title>Carousel</title>
                                    <path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path>
                                </svg>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/2.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="parent-box-div">
                <div class="small-child">
                    <a href="#">
                        <div class="imgs-div">
                            <div class="img-part">
                                <img crossorigin="anonymous" decoding="auto" sizes="292.9866638183594px" src="./assets/images/explore/2.jpg">
                            </div>
                            <div class="block-div-in-img-part"></div>
                        </div>
                        <div class="icons-div">
                            <!-- if img display this -->
                                <svg color="rgb(255, 255, 255)" fill="rgb(255, 255, 255)" role="img" viewBox="0 0 48 48">
                                    <title>Carousel</title>
                                    <path d="M34.8 29.7V11c0-2.9-2.3-5.2-5.2-5.2H11c-2.9 0-5.2 2.3-5.2 5.2v18.7c0 2.9 2.3 5.2 5.2 5.2h18.7c2.8-.1 5.1-2.4 5.1-5.2zM39.2 15v16.1c0 4.5-3.7 8.2-8.2 8.2H14.9c-.6 0-.9.7-.5 1.1 1 1.1 2.4 1.8 4.1 1.8h13.4c5.7 0 10.3-4.6 10.3-10.3V18.5c0-1.6-.7-3.1-1.8-4.1-.5-.4-1.2 0-1.2.6z"></path>
                                </svg>
                        </div>
                    </a>
                </div>
            </div>
            
            <!-- 'End of delete' -->
    </div>
</div>
